<h1>Atividade 02 - CCF493</h1>     

<h3>Nome: Vítor Luís G. Silva</h3> 
<h3>Matrícula: 3045</h3>

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Leitura do arquivo csv
data_csv = pd.read_csv('./data/titanic_train.csv')

# Exibição do arquivo csv
data_csv.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# Leitura do arquivo json
data_json = pd.read_json('./data/champion_info.json')

# Exibição do arquivo json
data_json.head()

         type version                                               data
1    champion  7.17.2  {'title': 'the Dark Child', 'id': 1, 'key': 'A...
10   champion  7.17.2  {'title': 'The Judicator', 'id': 10, 'key': 'K...
101  champion  7.17.2  {'title': 'the Magus Ascendant', 'id': 101, 'k...
102  champion  7.17.2  {'title': 'the Half-Dragon', 'id': 102, 'key':...
103  champion  7.17.2  {'title': 'the Nine-Tailed Fox', 'id': 103, 'k...

In [4]:
# Leitura do arquivo json
data_json = pd.read_json('./data/iris.json')

# Exibição do arquivo json
data_json.head()

   sepalLength  sepalWidth  petalLength  petalWidth species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

In [6]:
# Leitura do arquivo xls
data_xls = pd.read_excel(r'./data/pib_municipios.xls')

# Exibição do arquivo xls
data_xls.head()

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.